[submodule "Submodules/xcconfig"]
	path = Submodules/xcconfig
	url = https://github.com/DigiDNA/xcconfig.git
[submodule "Submodules/cgl"]
	path = Submodules/cgl
	url = https://github.com/DigiDNA/cgl.git
